{% load staticfiles %}

<nav class="navbar navbar-dark bg-primary navbar-full">

  <a class="navbar-brand" href="">
    <!-- <img src="{% static 'img/chatterbot.png' %}" width="30" height="30" class="d-inline-block align-top" alt="ChatterBot"> -->
    FATEC BOT
  </a>

  <ul class="nav navbar-nav float-xs-right">
    <li class="nav-item">
      <a href="http://www.vestibularfatec.com.br/home/">
        <button class="btn btn-primary" type="submit">Site Vestibular</button>
      </a>
    </li>
    <li class="nav-item">
      <a href="http://www.fatecrp.edu.br/">
        <button class="btn btn-primary" type="submit">Voltar ao Site</button>
      </a>
    </li>
  </ul>
</nav>